<component name="ArtifactManager">
  <artifact type="war" name="Spring+SpringMVC+Hibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="myapp.war">
      <element id="artifact" artifact-name="Spring+SpringMVC+Hibernate:war exploded" />
    </root>
  </artifact>
</component>